@font-face {
    font-family: 'Harmonia Sans';
    src: url(../../public/assets/fonts/HarmoniaSansProCyr-Regular.ttf);
}

@font-face {
    font-family: 'Harmonia Sans Bold';
    src: url(../../public/assets/fonts/HarmoniaSansProCyr-Bold.ttf);
}

@font-face {
    font-family: 'Harmonia Sans Light';
    src: url(../../public/assets/fonts/HarmoniaSansProCyr-Light.ttf);
}

